@font-face {
    font-family: Framework7 Icons;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Framework7Icons-Regular.28db8299.eot);
    src: url(../fonts/Framework7Icons-Regular.19158ff0.woff2) format("woff2"), url(../fonts/Framework7Icons-Regular.5fce7c12.woff) format("woff"), url(../fonts/Framework7Icons-Regular.11137101.ttf) format("truetype")
}

.f7-icons,
.framework7-icons {
    font-family: Framework7 Icons;
    font-weight: 400;
    font-style: normal;
    font-size: .28rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    text-align: center
}

@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/materialicons-regular.016c14ad.eot);
    src: local("Material Icons"), local("materialicons-regular"), url(../fonts/materialicons-regular.8a9a261c.woff2) format("woff2"), url(../fonts/materialicons-regular.c38ebd3c.woff) format("woff"), url(../fonts/materialicons-regular.55242ea5.ttf) format("truetype")
}

.material-icons {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: .24rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-display: block
}

.framework7-root {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden
}

.framework7-root {
    overflow: hidden;
    box-sizing: border-box
}

.framework7-initializing *,
.framework7-initializing :after,
.framework7-initializing :before {
    transition-duration: 0ms !important
}

@media (width:1024px) and (height:691px) and (orientation:landscape) {

    .framework7-root {
        height: 6.71rem
    }
}

@media (width:1024px) and (height:692px) and (orientation:landscape) {

    .framework7-root {
        height: 6.72rem
    }
}
